﻿
<tr>
    <td style="width: 20pt">@if (Checked) {
            <span class="oi oi-circle-check"></span>
        } else {
            @EmptySymbol
        }
    </td>
    <td>@ChildContent</td>
</tr>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Checked { get; set; }

    private const string EmptySymbol = "\u25EF";
}