﻿@page "/files"

<PageTitle>Files</PageTitle>

<section>
    <h4>Seminar to diploma theses</h4>
    <table class="table">
        <tbody>
        <tr>
            <td>Task presentation:</td><td>23.11.2023</td><td><a href="./_files/Presentation1.pdf" target="_blank">Presentation1.pdf</a></td>
        </tr>
        <tr>
            <td>Extended assignment:</td><td>7.12.2023</td><td><a href="./_files/ExtendedAssignment.pdf" target="_blank">ExtendedAssignment.pdf</a></td>
        </tr>
        <tr>
            <td>Analysis presentation:</td><td>9.5.2024</td><td><a href="./_files/Presentation2.pdf" target="_blank">Presentation2.pdf</a></td>
        </tr>
        <tr>
            <td>Analysis and design of solution:</td><td>31.5.2024</td><td><a href="./_files/AnalysisAndSolution.pdf" target="_blank">AnalysisAndSolution.pdf</a></td>
        </tr>
        <tr>
            <td>Results presentation:</td><td>19.12.2024</td><td><a href="./_files/Presentation3.pdf" target="_blank">Presentation3.pdf</a></td>
        </tr>
        <tr>
            <td>Thesis results:</td><td>15.1.2025</td><td><a href="./_files/Results.pdf" target="_blank">Results.pdf</a></td>
        </tr>
        <tr>
            <td><b>Completed diploma thesis:</b></td><td>4.2025</td><td>TBA</td>
        </tr>
        <tr>
            <td>Defense:</td><td>5.2025</td><td>TBA</td>
        </tr>
        </tbody>
    </table>
</section>

<section>
    <h4>Specialized seminar</h4>
    <table class="table">
        <tr>
            <td>Progress presentation 1:</td><td>9.5.2024</td><td><a href="./_files/Presentation1-SpecSem.pdf" target="_blank">Presentation1.pdf</a></td>
        </tr>
        <tr>
            <td>Progress presentation 2:</td><td>26.9.2024</td><td><a href="./_files/Presentation2-SpecSem.pdf" target="_blank">Presentation2.pdf</a></td>
        </tr>
        <tr>
            <td>Progress presentation 3:</td><td>28.11.2024</td><td>(without slides)</td>
        </tr>
    </table>
</section>
