﻿@page "/"

<PageTitle>Home</PageTitle>

<section>
    <table class="table">
        <tbody>
        <tr>
            <td>Thesis title:</td><td><strong>Concatenation of binary star languages</strong></td>
        </tr>
        <tr>
            <td>Author:</td><td>Bc. Michaela Bobeničová</td>
        </tr>
        <tr>
            <td>Email:</td><td>michaela.bobenicova@student.upjs.sk</td>
        </tr>
        <tr>
            <td>Supervisor:</td><td>RNDr. Juraj Šebej, PhD.</td>
        </tr>
        <tr>
            <td>Department:</td><td>Institute of Computer Science</td>
        </tr>
        </tbody>
    </table>
</section>

<br/><br/>

<section>
    <h4>Thesis topic</h4>
    <hr>
    <p>
        The focus of this thesis is a subclass of binary regular
        languages called <i>star languages</i> and their state
        complexity under the operation of concatenation.
    </p>

    <p>
        More specifically, there is an upper bound for concatenation
        of two binary star languages. The task of this thesis is to
        show reachability and tightness of this bound on alphabet of size 2.
    </p>

    <p>
        As we achieved the original task, now we look at Kuratowski’s algebras
        on regular languages, with the initial language being a star language.
        We look for possible algebras, languages and state complexities, 
        looking an various properties on the way.
    </p>
</section>

<br/><br/>

<section>
    <h4>Goals</h4>
    <hr>
    <ol>
        <li>Generate DFAs of star languages.</li>
        <li>Implement their concatenation, determinization of resulting 
            NFAs and minimization.</li>
        <li>Find reachability witness languages for the upper bound.</li>
    </ol>
</section>

<br/><br/>

<section>
    <h4>Relevant literature</h4>
    <hr>
    <ul>
        <li>Michal Hospodár, Galina Jirásková: <strong>Operational Complexity 
            in Subregular Classes</strong>. CIAA 2023: 153-165</li>
        <li>J. Brzozowski, E. Grant, J. Shallit: <strong>Closures 
            in Formal Languages and Kuratowski’s Theorem</strong>. Developments in Language Theory. DLT 2009.</li>
        <li> Jozef Jirásek, Jr.; Juraj Šebej: <strong>Kuratowski Algebras 
            Generated by Prefix-Free Languages</strong>. Lecture Notes in Computer Science 9705:150-162 (2016)</li>
        <li>John E. Hopcroft, Rajeev Motwani, Jeffrey D. Ullman: <strong>Introduction to
            automata theory, languages, and computation</strong> - international edition (2. ed).
            Addison-Wesley (2003)</li>
        <li>Jacques Sakarovitch: <strong>Elements of Automata Theory</strong>. Cambridge University
            Press 2009, ISBN 978-0-521-84425-3, pp. I-XXIV, 1-758 (2009)</li>
    </ul>
</section>
