@page "/plans"

<PageTitle>Home</PageTitle>
    
<section>
    <h4>Original plan:</h4>
    <hr>
    <CheckTable>
        <Body>
        <CheckTableItem Checked="@true">Study and understand the proof of the upper bound of the state complexity.</CheckTableItem>
        <CheckTableItem Checked="@true">Implement a DFA generation with <i>n</i> states.</CheckTableItem>
        <CheckTableItem Checked="@true">Implement serialisation of a DFA.</CheckTableItem>
        <CheckTableItem Checked="@true">Implement concatenation.</CheckTableItem>
        <CheckTableItem Checked="@true">Implement determinisation.</CheckTableItem>
        <CheckTableItem Checked="@true">Implement minimization.</CheckTableItem>
        <CheckTableItem Checked="@true">Implement deserialisation.</CheckTableItem>
        <CheckTableItem><del>Implement partitioning of DFAs to smaller partitions and their deserialization.</del></CheckTableItem>
        <CheckTableItem><del>Implement pairing of DFAs for following processing also across partitions.</del></CheckTableItem>
        <CheckTableItem Checked="@true">Implement program for checking number of states after concatenation.</CheckTableItem>
        <CheckTableItem Checked="@true">Find witnesses of the upper bound and select an appropriate ones for the proof.</CheckTableItem>
        <CheckTableItem Checked="@true">Formulate a hypothesis descripting the structure for variable number of states.</CheckTableItem>
        <CheckTableItem Checked="@true">Prove the hypothesis.</CheckTableItem>
        </Body>
    </CheckTable>
</section>

<br/><br/>

<section>
    <h4>Next steps - Kuratowski's algebras:</h4>
    <hr>
    <CheckTable>
        <Body>
        <CheckTableItem Checked="@true">Explore possible transitions</CheckTableItem>
        <CheckTableItem Checked="@true">Explore possible languages</CheckTableItem>
        <CheckTableItem>Explore possible complexities</CheckTableItem>
        <CheckTableItem Checked="@true">Explore a problem, where given a star language, which algebra would it belong to?</CheckTableItem>
        <CheckTableItem>What properties do bases of star languages have?</CheckTableItem>
        <CheckTableItem>Given an automaton with one final state which is also the initial state, does it always represent a star language?</CheckTableItem>
        </Body>
    </CheckTable>
</section>