﻿@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row">
            <NavMenu/>
        </div>
        
        <article class="content px-4">
            <div class="div-main">
                @Body
            </div>
        </article>
    </main>
</div>