.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff6f3;
}

main {
    flex: 1;
}


.div-main {
    background-color: #ffffff;
    border-radius: 0.5em;


    padding: 4em 5em 3em 5em;
    border-top: 0;
    margin: 2em auto;

    box-shadow: 8px 0 30px rgba(0, 0, 0, 0.1), -8px 0 30px rgba(0, 0, 0, 0.1);
}


.top-row {
    background-color: #f6decf;
    border-bottom: 1px solid #dab8aa;
    justify-content: center;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (min-width: 1300px) {
    .div-main {
        width: calc(100% - 30rem);
        max-width: calc(100% - 4rem);
    }
}

@media (max-width: 1299.99px) {
    .div-main {
        max-width: calc(100% - 4rem);
    }
}
