﻿
<nav class="flex-row">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </div>
</nav>

<nav class="flex-row">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="plans/">
            Plans
        </NavLink>
    </div>
</nav>

<nav class="flex-row">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="files/">
            Files
        </NavLink>
    </div>
</nav>