.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 1.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

    .nav-item:first-of-type {
        padding-left: 1rem;
    }

    .nav-item:last-of-type {
        padding-right: 1rem;
    }

    .nav-item ::deep a {
        color: #835030;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: #835030;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: #000000;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
